<ion-view title="following" id="page19">
    <ion-content padding="true" class="has-header">
        <div id="following-button-bar12" class="button-bar">
            <a ui-sref="you" id="following-button41" class="button button-light  button-block">Following</a>
            <button id="following-button42" class="button button-light  button-block">You</button>
        </div>
        <ion-list id="following-list5">
            <ion-item class="item-avatar" id="following-list-item23">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar" id="following-list-item24">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar" id="following-list-item25">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar" id="following-list-item26">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar" id="following-list-item27">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
        <div id="following-button-bar13" class="button-bar">
            <a ui-sref="instagram" id="following-button43" class="button button-light  button-block icon ion-android-home"></a>
            <a ui-sref="search" id="following-button44" class="button button-light  button-block icon ion-android-search"></a>
            <a ui-sref="photo" id="following-button45" class="button button-light  button-block icon ion-android-camera"></a>
            <button id="following-button46" class="button button-light  button-block icon ion-android-favorite"></button>
            <a ui-sref="personSetting" id="following-button47" class="button button-light  button-block icon ion-android-person"></a>
        </div>
    </ion-content>
</ion-view>