<ion-view title="instagram" id="page10">
    <ion-content padding="true" class="has-header">
        <div id="instagram-button-bar1" class="button-bar"></div>
        <div id="instagram-button-bar2" class="button-bar">
            <a ui-sref="video" id="instagram-button4" style="text-align:left;" class="button button-light  button-block icon ion-android-add"></a>
            <a ui-sref="direct" id="instagram-button6" style="text-align:right;" class="button button-light  button-block icon ion-android-drafts"></a>
        </div>
        <div class="list card" id="instagram-card23">
            <ion-item class="item-avatar" id="instagram-list-item5">
                <img src="img/tdDJiPq1RfWeRmT6r1e7_DSC_2926.jpg">
                <h2>Item</h2>
            </ion-item>
            <div class=" item item-image">
                <img src="img/AXDSh1lvRf6lau4TPDBT_DSC_2906.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body" id="instagram-list-item-container3">
                <div id="instagram-button-bar4" class="button-bar">
                    <button id="instagram-button12" class="button button-light  button-block icon ion-android-favorite"></button>
                    <button id="instagram-button13" class="button button-light  button-block icon ion-chatbubble"></button>
                    <button id="instagram-button14" class="button button-light  button-block icon ion-android-share"></button>
                </div>
                <div id="instagram-markdown1" style="margin-top:0px;color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
        </div>
        <div id="instagram-button-bar3" class="button-bar">
            <button id="instagram-button7" class="button button-light  button-block icon ion-home"></button>
            <a ui-sref="search" id="instagram-button8" class="button button-light  button-block icon ion-search"></a>
            <a ui-sref="photo" id="instagram-button9" class="button button-light  button-block icon ion-camera"></a>
            <a ui-sref="notification" id="instagram-button10" class="button button-light  button-block icon ion-android-favorite"></a>
            <a ui-sref="personSetting" id="instagram-button11" class="button button-light  button-block icon ion-android-person"></a>
        </div>
    </ion-content>
</ion-view>