<ion-view title="notification" id="page13">
    <ion-content padding="true" class="has-header">
        <div id="notification-button-bar8" class="button-bar">
            <a ui-sref="following" id="notification-button26" class="button button-light  button-block">Following</a>
            <a ui-sref="you" id="notification-button27" class="button button-light  button-block">You</a>
        </div>
        <ion-list id="notification-list3">
            <ion-item class="item-avatar" id="notification-list-item13">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar" id="notification-list-item14">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar" id="notification-list-item15">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar" id="notification-list-item16">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar" id="notification-list-item17">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
        <div id="notification-button-bar9" class="button-bar">
            <a ui-sref="instagram" id="notification-button29" class="button button-light  button-block icon ion-android-home"></a>
            <a ui-sref="search" id="notification-button30" class="button button-light  button-block icon ion-android-search"></a>
            <a ui-sref="photo" id="notification-button31" class="button button-light  button-block icon ion-android-camera"></a>
            <button id="notification-button32" class="button button-light  button-block icon ion-android-favorite"></button>
            <a ui-sref="personSetting" id="notification-button33" class="button button-light  button-block icon ion-android-person"></a>
        </div>
    </ion-content>
</ion-view>