<ion-view title="Person setting" id="page14">
    <ion-content padding="true" class="has-header">
        <div id="personSetting-button-bar14" class="button-bar">
            <button id="personSetting-button48" style="text-align:left;" class="button button-light  button-block icon ion-android-person-add"></button>
            <button id="personSetting-button51" style="text-align:right;" class="button button-light  button-block icon ion-android-settings"></button>
        </div>
        <ion-list id="personSetting-list6">
            <ion-item class="item-avatar" id="personSetting-list-item28">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
        <div id="personSetting-button-bar16" class="button-bar">
            <button id="personSetting-button57" class="button button-light  button-block icon ion-android-apps"></button>
            <a ui-sref="list" id="personSetting-button58" class="button button-light  button-block icon ion-ios-list"></a>
            <a ui-sref="photosOfYou" id="personSetting-button60" class="button button-light  button-block icon ion-ios-photos"></a>
        </div>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div id="personSetting-button-bar15" class="button-bar">
            <a ui-sref="instagram" id="personSetting-button56" class="button button-light  button-block icon ion-android-home"></a>
            <a ui-sref="search" id="personSetting-button52" class="button button-light  button-block icon ion-ios-search"></a>
            <a ui-sref="photo" id="personSetting-button53" class="button button-light  button-block icon ion-android-camera"></a>
            <a ui-sref="notification" id="personSetting-button54" class="button button-light  button-block icon ion-android-favorite"></a>
            <button id="personSetting-button55" class="button button-light  button-block icon ion-android-person"></button>
        </div>
    </ion-content>
</ion-view>