<ion-view title="photo" id="page12">
    <ion-content padding="true" class="has-header">
        <div id="photo-button-bar6" class="button-bar">
            <button id="photo-button20" class="button button-light  button-block">Cancel</button>
            <button id="photo-button21" class="button button-light  button-block">All photo</button>
            <button id="photo-button22" class="button button-light  button-block">Next</button>
        </div>
        <div>
            <img src="img/XBfklMBQUulovJW1P4bT_DSC_2893.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="photo-button-bar7" class="button-bar">
            <button id="photo-button23" class="button button-light  button-block">Library</button>
            <button id="photo-button24" class="button button-light  button-block">Photo</button>
            <button id="photo-button25" class="button button-light  button-block">Video</button>
        </div>
    </ion-content>
</ion-view>