<ion-view title="search" id="page11">
    <ion-content padding="true" class="has-header">
        <form id="search-form1" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <div>
            <img src="img/vpAhore5SYK65RGGYSIr_DSC_3845.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="search-container1" class="creator-container"></div>
        <div id="search-container2" class="creator-container"></div>
        <div id="search-button-bar5" class="button-bar">
            <a ui-sref="instagram" id="search-button19" class="button button-light  button-block icon ion-android-home"></a>
            <button id="search-button15" class="button button-light  button-block icon ion-android-search"></button>
            <a ui-sref="photo" id="search-button16" class="button button-light  button-block icon ion-android-camera"></a>
            <a ui-sref="notification" id="search-button17" class="button button-light  button-block icon ion-android-favorite"></a>
            <a ui-sref="personSetting" id="search-button18" class="button button-light  button-block icon ion-android-person"></a>
        </div>
    </ion-content>
</ion-view>