<ion-view title="you" id="page18">
    <ion-content padding="true" class="has-header">
        <div id="you-button-bar10" class="button-bar">
            <button id="you-button34" class="button button-light  button-block">Following</button>
            <button id="you-button35" class="button button-light  button-block">You</button>
        </div>
        <ion-list id="you-list4">
            <ion-item class="item-avatar" id="you-list-item18">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar" id="you-list-item19">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar" id="you-list-item20">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar" id="you-list-item21">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar" id="you-list-item22">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
        <div id="you-button-bar11" class="button-bar">
            <a ui-sref="instagram" id="you-button36" class="button button-light  button-block icon ion-android-home"></a>
            <a ui-sref="search" id="you-button37" class="button button-light  button-block icon ion-android-search"></a>
            <a ui-sref="photo" id="you-button38" class="button button-light  button-block icon ion-android-camera"></a>
            <button id="you-button39" class="button button-light  button-block icon ion-android-favorite"></button>
            <a ui-sref="personSetting" id="you-button40" class="button button-light  button-block icon ion-android-person"></a>
        </div>
    </ion-content>
</ion-view>